@model WebLaba7.Models.ViewModels.ReceiptVM

@{
    ViewBag.Title = "Create Receipt";
    Layout = "_Layout";
}

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Create new receipt</h2> 
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Receipt.ClientFirstName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Receipt.ClientLastName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Receipt.ClientPhoneNumber"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Receipt.MedicineId"></label>
                    </div>
                    
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="Receipt.ClientFirstName" class="form-control" />
                        <span asp-validation-for="Receipt.ClientFirstName" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Receipt.ClientLastName" class="form-control" />
                        <span asp-validation-for="Receipt.ClientLastName" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Receipt.ClientPhoneNumber" class="form-control" />
                        <span asp-validation-for="Receipt.ClientPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Receipt.MedicineId" class="form-control" />
                        <span asp-validation-for="Receipt.MedicineId" class="text-danger"></span>
                    </div>
                    
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
